## **Identitas Kelompok 2** ##

1. Ahmad Mafaza Afnani
2. Grace Wahyuni

## **Import Library** ##

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## **About Dataset** ##

Dataset ini merupakan bagian dari World Weather Dataset yang telah kami perkecil dengan hanya mengambil daerah yang ada di Asia.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/SenyuminAja16/machineLearningPemula/refs/heads/master/Data/GlobalWeatherRepository.csv')
df

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.5200,69.1800,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.400,26.600,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.3300,19.8200,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.100,2.000,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.7600,3.0500,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.400,18.400,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.5000,1.5200,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.700,0.900,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.8400,13.2300,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.400,262.300,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55537,Venezuela,Caracas,10.5000,-66.9167,America/Caracas,1740564000,2025-02-26 06:00,25.1,77.2,Clear,...,17.390,23.125,2,2,06:43 AM,06:37 PM,05:36 AM,05:33 PM,Waning Crescent,5
55538,Vietnam,Hanoi,21.0333,105.8500,Asia/Bangkok,1740564000,2025-02-26 17:00,17.2,63.0,Overcast,...,97.865,98.605,4,10,06:19 AM,06:00 PM,05:00 AM,04:17 PM,Waning Crescent,7
55539,Yemen,Sanaa,15.3547,44.2067,Asia/Aden,1740564000,2025-02-26 13:00,23.2,73.8,Sunny,...,27.380,91.020,2,3,06:22 AM,06:10 PM,05:04 AM,04:43 PM,Waning Crescent,6
55540,Zambia,Lusaka,-15.4167,28.2833,Africa/Lusaka,1740564000,2025-02-26 12:00,24.4,75.8,Light rain shower,...,9.435,10.915,1,1,06:07 AM,06:32 PM,04:20 AM,05:33 PM,Waning Crescent,6
55541,Zimbabwe,Harare,-17.8178,31.0447,Africa/Harare,1740564000,2025-02-26 12:00,24.4,75.8,Patchy rain nearby,...,6.290,6.475,1,1,05:54 AM,06:23 PM,04:05 AM,05:25 PM,Waning Crescent,6

In [4]:
df_asia = df[df["timezone"].str.contains("Asia", na=False)]

## **Dataset Exploration** ##

In [5]:
df_asia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13650 entries, 0 to 55539
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       13650 non-null  object
 1   location_name                 13650 non-null  object
 2   latitude                      13650 non-null  float64
 3   longitude                     13650 non-null  float64
 4   timezone                      13650 non-null  object
 5   last_updated_epoch            13650 non-null  int64
 6   last_updated                  13650 non-null  object
 7   temperature_celsius           13650 non-null  float64
 8   temperature_fahrenheit        13650 non-null  float64
 9   condition_text                13650 non-null  object
 10  wind_mph                      13650 non-null  float64
 11  wind_kph                      13650 non-null  float64
 12  wind_degree                   13650 non-null  int64
 13  wind_direction                13650 non-null  object
 14  pressure_mb                   13650 non-null  float64
 15  pressure_in                   13650 non-null  float64
 16  precip_mm                     13650 non-null  float64
 17  precip_in                     13650 non-null  float64
 18  humidity                      13650 non-null  int64
 19  cloud                         13650 non-null  int64
 20  feels_like_celsius            13650 non-null  float64
 21  feels_like_fahrenheit         13650 non-null  float64
 22  visibility_km                 13650 non-null  float64
 23  visibility_miles              13650 non-null  float64
 24  uv_index                      13650 non-null  float64
 25  gust_mph                      13650 non-null  float64
 26  gust_kph                      13650 non-null  float64
 27  air_quality_Carbon_Monoxide   13650 non-null  float64
 28  air_quality_Ozone             13650 non-null  float64
 29  air_quality_Nitrogen_dioxide  13650 non-null  float64
 30  air_quality_Sulphur_dioxide   13650 non-null  float64
 31  air_quality_PM2.5             13650 non-null  float64
 32  air_quality_PM10              13650 non-null  float64
 33  air_quality_us-epa-index      13650 non-null  int64
 34  air_quality_gb-defra-index    13650 non-null  int64
 35  sunrise                       13650 non-null  object
 36  sunset                        13650 non-null  object
 37  moonrise                      13650 non-null  object
 38  moonset                       13650 non-null  object
 39  moon_phase                    13650 non-null  object
 40  moon_illumination             13650 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 4.4+ MB

In [6]:
df_asia['last_updated'] = pd.to_datetime(df_asia['last_updated'])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12272\129879787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asia['last_updated'] = pd.to_datetime(df_asia['last_updated'])

In [7]:
df_asia.describe()

,latitude,longitude,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,13650.000000,13650.000000,1.365000e+04,13650,13650.000000,13650.000000,13650.000000,13650.000000,13650.000000,13650.000000,...,13650.000000,13650.000000,13650.000000,13650.000000,13650.000000,13650.000000,13650.000000,13650.000000,13650.000000,13650.000000
mean,26.294177,77.737101,1.728267e+09,2024-10-07 07:45:06.065934080,23.956989,75.124176,7.677934,12.359495,194.665495,1011.667473,...,17.857465,953.769368,74.863048,29.615221,28.260789,40.922215,86.989501,2.205641,3.911868,49.448132
min,-8.560000,33.366700,1.715849e+09,2024-05-16 11:45:00,-24.900000,-12.800000,2.200000,3.600000,1.000000,984.000000,...,3.600000,116.000000,0.000000,0.000000,0.000000,0.500000,-1848.150000,1.000000,1.000000,0.000000
25%,16.783300,47.960000,1.722171e+09,2024-07-28 19:18:45,18.800000,65.800000,3.800000,6.100000,102.000000,1007.000000,...,9.900000,281.200000,40.100000,3.425000,2.960000,11.800000,18.700000,1.000000,1.000000,15.000000
50%,29.366700,73.170000,1.728294e+09,2024-10-07 16:45:00,26.400000,79.600000,6.500000,10.400000,202.000000,1010.000000,...,15.300000,474.000000,71.000000,14.245000,13.505000,25.160000,40.300000,2.000000,3.000000,50.000000
75%,37.566400,104.916700,1.734432e+09,2024-12-17 19:07:30,30.900000,87.600000,10.500000,16.900000,290.000000,1017.000000,...,23.700000,928.237500,102.000000,44.585000,37.200000,48.840000,82.507500,3.000000,6.000000,83.000000
max,51.181100,139.691700,1.740564e+09,2025-02-26 19:00:00,49.200000,120.600000,42.900000,69.100000,360.000000,3000.000000,...,96.300000,38879.398000,480.700000,427.700000,486.180000,874.900000,6037.290000,6.000000,10.000000,100.000000
std,14.459617,30.512448,7.166239e+06,NaN,10.887545,19.597728,4.937598,7.942805,105.396145,18.804986,...,10.772224,1698.941623,48.630234,36.928345,40.247870,54.372275,268.741634,1.172679,3.163146,34.862719

# *Dataset Cleaning* #

Identifikasi Typo pada kolom Country

In [8]:
df_asia['country'].value_counts()

country
Indonesia                           573
Iran                                570
Thailand                            569
Vietnam                             522
Armenia                             286
Japan                               286
Iraq                                286
Jordan                              286
Myanmar                             286
Bahrain                             286
Uzbekistan                          286
Malaysia                            286
United Arab Emirates                286
Oman                                286
Singapore                           286
Kuwait                              286
Afghanistan                         286
Bhutan                              285
Azerbaijan                          285
Syria                               285
South Korea                         285
Israel                              285
Kazakhstan                          285
Cambodia                            285
China                               285
Cyprus                              285
Brunei Darussalam                   285
Bangladesh                          285
Nepal                               285
Pakistan                            285
North Korea                         285
Philippines                         285
Mongolia                            285
Lebanon                             285
Kyrghyzstan                         285
Turkmenistan                        285
Tajikistan                          285
Qatar                               285
Sri Lanka                           285
Yemen                               285
Georgia                             284
India                               284
Saudi Arabia                        284
Timor-Leste                         284
Lao People's Democratic Republic      1
Malásia                               1
Inde                                  1
Saudi Arabien                         1
Südkorea                              1
Turkménistan                          1
Jemen                                 1
Name: count, dtype: int64

In [9]:
df_asia['country'] = df_asia['country'].replace('Inde', 'India')
df_asia['country'] = df_asia['country'].replace('Jemen', 'Yemen')
df_asia['country'] = df_asia['country'].replace('Südkorea', 'South Korea')
df_asia['country'] = df_asia['country'].replace('Turkménistan', 'Turkmenistan')
df_asia['country'] = df_asia['country'].replace('Saudi Arabien', 'Saudi Arabia')
df_asia['country'] = df_asia['country'].replace('Malásia', 'Malaysia')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12272\3920227049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asia['country'] = df_asia['country'].replace('Inde', 'India')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12272\3920227049.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asia['country'] = df_asia['country'].replace('Jemen', 'Yemen')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12272\3920227049.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asia['country'] = df_asia['country'].replace('Südkorea', 'South Korea')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12272\3920227049.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asia['country'] = df_asia['country'].replace('Turkménistan', 'Turkmenistan')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12272\3920227049.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asia['country'] = df_asia['country'].replace('Saudi Arabien', 'Saudi Arabia')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12272\3920227049.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asia['country'] = df_asia['country'].replace('Malásia', 'Malaysia')

Identifikasi nilai null

In [10]:
missing_values = df_asia.isna().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

Identifikasi nilai duplikat

In [11]:
print(f'Data yang terduplikasi: {df_asia.duplicated().sum()}')

Data yang terduplikasi: 0

Colomn Type

In [12]:
numeric_features = df_asia.select_dtypes(include='number').shape[1]
category_features = df_asia.select_dtypes(include='object').shape[1]


print(f'Jumlah Kolom Numeric: {numeric_features}')
print(f'Jumlah kolom kategori: {category_features}')
print(f'Dimensi dataset : {df_asia.shape}')

numeric_features = df_asia.select_dtypes(include='number').columns
category_features = df_asia.select_dtypes(include='object').columns

Jumlah Kolom Numeric: 30
Jumlah kolom kategori: 10
Dimensi dataset : (13650, 41)

In [13]:
print(f'jumlah country di asia {df_asia['country'].nunique()}')

jumlah country di asia 45

Dataset Overview

Dataset ini berisi 13.650 baris and 41 kolom.

Jumlah total kolom numerik adalah 30 kolom

Jumlah total kolom kategorikal adalah of 11 kolom

Tidak ada missing value

Tidak ada data yang duplikat di dataset ini

Jumlah kolom unik di kolom Country ada 45

## **EDA dan Visualization**

**business question 1**

**business question 2**

**business question 3**

**business question 4**

## **Preprocessing** ##

### Outlier

### Feature Selection

### Feature Engineering ###

## **Modelling** ##

### K-Means ###

### DBSCAN ###

### Agglomerative ###